# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Generated data
data/features.csv
data/risk_predictions.csv

# Large raw dataset
data/HI-Small_Trans.csv

# OS files
Thumbs.db
.DS_Store